<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="utils.AnnotationTransformer"/>
    </listeners>
    <test name="test1">
        <classes>
            <class name="tests.ProjectsTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="test2">
        <classes>
            <class name="tests.RepositoryTest"/>
        </classes>
    </test>
    <test name="APITests">
        <classes>
            <class name="tests.api.ProjectsTest"/>
        </classes>
    </test>
</suite>